.chat-view-container {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px !important;
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px !important;
  position: fixed;
  inset: 10px;
  width: 90%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;

  /* To keep the children centered. Using Grid Layout. */
  display: grid;
  /* justify-content: center; */
  align-items: center;
  align-content: space-between;
}

.chat-view-container-top {
  display: flex;
  padding: 10px;
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.chat-view-container-top-banner {
  display: flex;
  flex: 1;
}

.chat-view-user-profile {
  display: flex;
  flex: 1;
  align-items: center;
}

.chat-view-banner-username {
  margin: 0 20px;
  font-size: 20px;
}

.chat-view-banner-action-menu {
  display: flex;
  align-items: center;
}

.chat-view-banner-action-menu-icon {
  box-shadow: none !important;
}

.chat-view-default-icon-container {
  padding: 15px 20px 15px 20px;
  margin: 30px 0 30px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px !important;
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.chat-view-default-icon-sizing {
  border: 0 solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.1);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.chat-view-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f2f5; /* Light grey background */
  border-radius: 25px; /* Rounded container */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin: 10px; /* Adjust as needed */
}

.chat-view-container-bottom * {
  display: flex;
}

.chat-input-form-container {
  border: 0px;
  flex: 1;
}

.chat-input {
  flex: 1;
  border: none;
  background-color: #fff; /* White input background */
  padding: 10px 15px;
  border-radius: 20px; /* Rounded input field */
  font-size: 16px;
  outline: none; /* Remove outline on focus */
  margin-right: 10px;
}

.chat-send-button-image {
  border-radius: 20%;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1px);
}
