.chat-list-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom right, #4f46e5, #ec4899);
  color: white;
}

.chat-list-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.chat-list-container-top-banner {
  display: flex;
  flex: 1;
}

.chat-list-user-profile {
  display: flex;
  flex: 1;
  align-items: center;
}

.chat-list-banner-username {
  margin: 0 20px;
  font-size: 20px;
}

.chat-list-banner-action-menu {
  display: flex;
  align-items: center;
}

.chat-list-banner-action-menu-icon {
  box-shadow: none !important;
}

.chat-list-default-icon-container {
  padding: 15px 20px 15px 20px;
  margin: 30px 0 30px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px !important;
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.chat-list-default-icon-sizing {
  border: 0 solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.1);
  width: 3rem;
  height: 3rem;
}

.chat-list-container-bottom {
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Maintain visual padding between button and container boundary. */
.chat-list-add-recipient-button-container {
  background-color: #6b46c1;
  padding: 10px 0;
  border: none;
  border-radius: 24px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
