.chat-view-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.chat-view-container-top {
  flex: 0 0 auto; /* Fixed Height */
  display: flex;
  padding: 10px;
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.chat-view-container-top-banner {
  display: flex;
  flex: 1;
}

.chat-view-user-profile {
  display: flex;
  flex: 1;
  align-items: center;
}

.chat-view-banner-username {
  margin: 0 20px;
  font-size: 20px;
}

.chat-view-banner-action-menu {
  display: flex;
  align-items: center;
}

.chat-view-banner-action-menu-icon {
  box-shadow: none !important;
}

.chat-view-default-icon-container {
  padding: 15px 20px 15px 20px;
  margin: 30px 0 30px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px !important;
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.chat-view-default-icon-sizing {
  border: 0 solid rgba(0, 0, 0, 0.1);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.chat-view-container-middle {
  flex: 1 1 auto; /* Takes remaining space */
  overflow-y: auto; /* Enables Scrolling */
  padding: 8px 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-view-container-bottom {
  align-items: center;
  border-radius: 25px; /* Rounded container */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  flex: 0 0 auto;
  padding: 12px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.chat-input-form-container {
  display: flex;
  padding: 10px;
}

.chat-input {
  flex: 1;
  border: none;
  background-color: #fff; /* White input background */
  border-radius: 20px; /* Rounded input field */
  font-size: 16px;
  outline: none; /* Remove outline on focus */
  margin-right: 10px;
}

.chat-send-button-image {
  border-radius: 20%;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
}

.chat-input-container-bottom-error-box {
  width: 100%;
  padding: 5px 0;
  background-color: white;
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.1);
}
