@font-face {
  font-family: "montserrat";
  src: url("../../../public/fonts/Montserrat-Regular.ttf")
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../../../public/fonts/Montserrat-Medium.ttf")
}

* {
  font-family: "montserrat-medium", serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.app-default-box-welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-default-navigation-button-welcome-screen {
  border: 0 solid rgba(0, 0, 0, 0.1) !important;
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
}

/* To push the back button (top navigation) to far left. */
.welcome-screen-top-navigation-goback {
  text-align: left;
}

/* To push the forward/front button (top navigation) to far right. */
.welcome-screen-top-navigation-gofront {
  text-align: right;
}

.app-default-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.app-default-input::placeholder {
  color: #999; /* Placeholder text color */
}

.app-default-input:focus {
  border-color: #007bff; /* Highlight border on focus */
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2); /* Enhanced shadow on focus */
}

.app-default-input:hover {
  border-color: #999; /* Subtle border change on hover */
}
